@using MudBlazor
@namespace Mythetech.Framework.Components.Navigation
@inherits MudComponentBase

@{
    var isActive = IsActive();
    var linkClass = $"mt-nav-link{(isActive ? " active" : "")}{(IsCollapsed ? " collapsed" : "")} {Class}".TrimEnd();
}

@if (IsCollapsed)
{
    <MudTooltip Text="@Text" Placement="Placement.Right" Arrow="true">
        <a href="@Href" class="@linkClass" style="@Style">
            <MudIcon Icon="@Icon" Size="Size.Small" Class="nav-icon" />
        </a>
    </MudTooltip>
}
else
{
    <a href="@Href" class="@linkClass" style="@Style">
        <MudIcon Icon="@Icon" Size="Size.Small" Class="nav-icon" />
        <span class="nav-text">@Text</span>
    </a>
}
