@using Mythetech.Framework.Components.Switch
@using MudBlazor
@attribute [Stories("Components/Switch")]

<Stories TComponent="Switch<bool>">

    <ArgType For="_ => _.Color" Control="ControlType.Color" />
    <ArgType For="_ => _.Label" Control="ControlType.Default" />
    <ArgType For="_ => _.ThumbIcon" Control="ControlType.Default" />
    <ArgType For="_ => _.ThumbOffIcon" Control="ControlType.Default" />

    <ProductStory Name="Default" TComponent="Switch<bool>">
        <Arguments>
            <Arg For="_ => _.Value" Value="true" />
            <Arg For="_ => _.Color" Value="Color.Primary" />
            <Arg For="_ => _.Label" Value="@("Enable feature")" />
            <Arg For="_ => _.Disabled" Value="false" />
            <Arg For="_ => _.ReadOnly" Value="false" />
        </Arguments>

        <Template>
            <Switch T="bool" @attributes="context.Args" />
        </Template>
    </ProductStory>

    <ProductStory Name="With Icons" TComponent="Switch<bool>">
        <Arguments>
            <Arg For="_ => _.Value" Value="true" />
            <Arg For="_ => _.Color" Value="Color.Success" />
            <Arg For="_ => _.Label" Value="@("Dark mode")" />
            <Arg For="_ => _.ThumbIcon" Value="@Icons.Material.Filled.Check" />
            <Arg For="_ => _.ThumbOffIcon" Value="@Icons.Material.Filled.Close" />
            <Arg For="_ => _.Disabled" Value="false" />
        </Arguments>

        <Template>
            <Switch T="bool" @attributes="context.Args" />
        </Template>
    </ProductStory>

    <ProductStory Name="Disabled" TComponent="Switch<bool>">
        <Arguments>
            <Arg For="_ => _.Value" Value="false" />
            <Arg For="_ => _.Color" Value="Color.Primary" />
            <Arg For="_ => _.Label" Value="@("Disabled switch")" />
            <Arg For="_ => _.Disabled" Value="true" />
        </Arguments>

        <Template>
            <Switch T="bool" @attributes="context.Args" />
        </Template>
    </ProductStory>

    <ProductStory Name="Color Variants" TComponent="Switch<bool>">
        <Arguments>
            <Arg For="_ => _.Value" Value="true" />
        </Arguments>

        <Template>
            <div style="display: flex; flex-direction: column; gap: 16px;">
                <Switch T="bool" Value="true" Color="Color.Primary" Label="Primary" />
                <Switch T="bool" Value="true" Color="Color.Secondary" Label="Secondary" />
                <Switch T="bool" Value="true" Color="Color.Success" Label="Success" />
                <Switch T="bool" Value="true" Color="Color.Warning" Label="Warning" />
                <Switch T="bool" Value="true" Color="Color.Error" Label="Error" />
                <Switch T="bool" Value="true" Color="Color.Info" Label="Info" />
            </div>
        </Template>
    </ProductStory>

</Stories>
